@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;           /* 지도 앱이라 스크롤 방지 */
  background: #1a1a1a;
  -webkit-tap-highlight-color: transparent; /* 모바일 터치 하이라이트 제거 */
}

/* 아이폰 safe area 변수 */
:root {
  --safe-top:    env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left:   env(safe-area-inset-left);
  --safe-right:  env(safe-area-inset-right);
}


* {
  box-sizing: border-box;
}